class <%= migration_class_name %> < ActiveRecord::Migration
  def change
    create_table :<%= table_name %> do |t|
      t.string    :classname
      t.text      :args
      t.boolean   :is_executed, :default => false

      t.timestamps
    end
  end
end
